grammars/relaton-csa.rnc

include "biblio-standoc.rnc" {

  DocumentType =
    "guidance" | "proposal" | "standard" | "report" | "whitepaper" | "charter" | "policy" |
    "glossary" | "case-study"

  editorialgroup = element editorialgroup {
    technical-committee+
  }

  technical-committee = element committee {
    attribute type { text }?,
    text
  }

}

